body {
    font-size: 24px;
}

.wrapper {
    height: calc(100vh - 220px);
}

.container {
    max-width: 100%;
}

.container,
.response {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    justify-content: space-evenly;
}

.response,
.forecast,
.current,
.form {
    padding-top: 30px;
}

span {
    word-wrap: break-word;
}

.img {
    border: 1px solid black;
    border-radius: 50%;
}

.forecast {
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    /* overflow-x: scroll; */
    column-gap: 20px;
    /* height: 150px; */
    /* max-width: 390px; */
    /* width: 640px; */
    /* overflow: hidden;
    overflow-x: scroll; */
    /* box-sizing: border-box; */
}

.forecast>div,
.forecast>div>ul {
    /* position:sticky; */
    /* width: 200px; */
    /* height: 100px; */
    display: flex;
    flex-direction: column;
    /* align-items: stretch; */
    justify-content: space-evenly;
    margin: 0 auto;
}

li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

button {
    border-radius: 50%;
    height: 1.5em;
    width: 1.5em;
    border: 1px solid black;
    background-color: #fff;
}

.fa-solid, .fa-regular{
    line-height: unset !important;
}

.current i{
    /* margin-top: 5px; */
    margin-right: 20px;
}

.forecast-item{
    min-width: 50px;
}

.forecast-item>p{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}